.bundle
.cache
.codeintel
.config
.designer
.fltk
.font
.gem
.git
.gnome
.gnupg
.gstreamer-0.10
.heroku
.icons
.java
.local
.mozilla
.mplayer
.ngrok2
.node-gyp
.npm
.pki
.rstudio-desktop
.RubyMine2016.2
.rvm
.screenlayout
.Skype
.ssh
.thumbnails
.vegas
.vim_runtime
.zcompcache
.zenmap
.zkbd
.babel.json
.bash_history
.bash_logout
.bash_profile
.fehbg
.gtkrc-2.0
.histfile
.ICEauthority
.irb-history
.lesshst
.mkshrc
.netrc
.node_repl_history
.note.swp
.note.txt.swp
.octave_hist
.octave_packages
.psql_history
.python_history
.rediscli_history
.Rhistory
.rnd
.viminfy.tmp
.viminfz.tmp
.Xauthority
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.yarnrc
.zcompdump
.zcompdump.zwc
.zhistory
.zlogin
.zlogout
.zprofile
.zshenv
.esd_auth
.profile
.zprezto
.viminfo
.zshrc
*.png
*.jpg
mpdsetup.sh
.lyrics
.vifm
.ncmpcpp
.IdealIC2017.1
.android
.fzf
.ipython
.vimnifx.tmp
.viminfo.tmp
.viminfx.tmp
*/
log

