bayo
.bundle
c++
.cache
chrome_extensions
.codeintel
.config
Coursera_RoR
.designer
Desktop
Documents
Downloads
edge_detection
fb-hackathon-2016
fcitx-unikey
.fltk
.font
.gem
.git
.gnome
.gnupg
.gstreamer-0.10
hackathon
.heroku
ibus-bogo
icon
.icons
.java
.local
mnt
.mozilla
.mplayer
Music
My_Snake_Bash_Game
.ngrok2
.node-gyp
node_modules
.npm
octave
output
Pictures
.pki
projects
R
redis-stable
.rstudio-desktop
.RubyMine2016.2
.rvm
.screenlayout
sedic
.Skype
.ssh
test_framework
.thumbnails
tmp
transbot
.vegas
.vim_runtime
wifi
wordpress
workspace
.zcompcache
.zenmap
.zkbd
2016-11-30-17:18:18_1366x768_scrot.png
.babel.json
.bash_history
.bash_logout
.bash_profile
.fehbg
.gitconfig
.gtkrc-2.0
.histfile
.ICEauthority
.irb-history
.lesshst
log
.mkshrc
.netrc
.node_repl_history
.note.swp
.note.txt.swp
.octave_hist
.octave_packages
octave-workspace
.psql_history
.python_history
README.md
.rediscli_history
redis-stable.tar.gz
.Rhistory
.rnd
Screenshot_2016-12-12_23-17-55.png
Screenshot_2016-12-25_14-45-26.png
Screenshot_2016-12-25_14-45-40.png
semantic.min.css
.vim
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.Xauthority
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.yarnrc
.zcompdump
.zcompdump.zwc
.zhistory
.zlogin
.zlogout
.zprofile
.zshenv
.esd_auth
.profile
.zprezto
.viminfo
