# Ibus
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus
export GLFW_IM_MODULE=ibus

ibus-daemon -drx

xinput set-prop 'ELAN0670:00 04F3:3150 Touchpad' 'libinput Natural Scrolling Enabled' 1
